<div class="modal fade" role="dialog" id="addTax">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
            <div class="modal-body modal-body-md">
               <form  id="form4" method="post" data-page="/soft/Role/{{user.uuid}}"  action="/soft/Role" class="form-validate">
                {{ form.csrf_field(csrf) }}
                <h5 class="title">Ajouter un Role</h5>
                <ul class="nk-nav nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#infomation">Nouveau Role</a>
                    </li>
                </ul><!-- .nav-tabs -->
                <div class="tab-content">
                    <div class="tab-pane active" id="infomation">
                        <div class="row gy-4">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {% if val==1%}
                                    <input type="text" class="form-control" value="{{role.nomRole}}" id="fv-full-name" name="nomRole">
                                    {% else %}
                                    <input type="text" class="form-control" id="fv-full-name" name="nomRole">
                                    <input type="text" class="form-control" value="{{user.uuid}}" id="fv-full-name" hidden name="uuid">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-12">
                                <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                                    <li>
                                                <button type="submit" id="form4_button" class="btn btn-primary">
                                                        <span style="display: none" id="form4_loader" class="spinner-border  spinner-border-sm" role="status" aria-hidden="true"></span>
                                                        <span id="form4_submit" >Enregistrer</span>
                                                    </button> 
                                         </li>
                                </ul>
                                        
                            </div>
                        </div>
                    </div><!-- .tab-pane -->
                </div><!-- .tab-content -->
            </form>
            </div><!-- .modal-body -->

        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- .modal -->
{# new agency modal end #}