<div class="modal fade" role="dialog" id="addTax">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <a href="#" class="close" data-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
                <div class="modal-body modal-body-md">
                   <form  id="form4" method="post" data-page="/developer/team/listdeveloper/{{user.uuid}}" action="/soft/dev" class="form-validate">
                    {{ form.csrf_field(csrf) }}
                    <h5 class="title">Ajouter Personnel</h5>
                    <ul class="nk-nav nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#infomation">Nouveau Personnel</a>
                        </li>
                    </ul><!-- .nav-tabs -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="infomation">
                            <div class="row gy-4">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label" for="fv-full-name">Nom</label>
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control" id="fv-full-name" name="name" required>
                                            <input type="text" value="{{user.uuid}}" class="form-control" id="fv-full-name" name="uuid" hidden>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label" for="fv-phone">Numero Telephone</label>
                                        <div class="form-control-wrap">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="fv-phone">+237</span>
                                                </div>
                                                <input name="telephone" type="text" class="form-control" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label" for="fv-topics">Role</label>
                                        <div class="form-control-wrap ">
                                            <select class="form-control form-select" id="fv-topics" name="role" data-placeholder="Selectionne le Role" required>
                                                {% for role in Role %}
                                                <option label="empty" value=""></option>
                                                <option value="{{role.idRole}}">{{role.nomRole}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label" for="fv-subject">Passcode</label>
                                        <div class="form-control-wrap">
                                            <input type="password" class="form-control" id="fv-subject" name="password" required>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-12">
                                    <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                                        <li>
                                                    <button type="submit" id="form4_button" class="btn btn-primary">
                                                            <span style="display: none" id="form4_loader" class="spinner-border  spinner-border-sm" role="status" aria-hidden="true"></span>
                                                            <span id="form4_submit" >Enregistrer</span>
                                                        </button> 
                                             </li>
                                    </ul>
                                            
                                </div>
                            </div>
                        </div><!-- .tab-pane -->
                    </div><!-- .tab-content -->
                </form>
                </div><!-- .modal-body -->

            </div><!-- .modal-content -->
        </div><!-- .modal-dialog -->
    </div><!-- .modal -->
    {# new agency modal end #}