{% extends "layouts/dashboard.njk" %}


{% block content %}
<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Tableau de bord</h3>
                            <div class="nk-block-des text-soft">
                                <p>Bienvenu Monsieur {{user.name}}.</p>
                            </div>
                        </div><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->
                <div class="nk-block">
                    <div class="row g-gs">
                        <div class="col-md-4">
                            <div class="card card-bordered card-full">
                                <div class="card-inner">
                                    <div class="card-title-group align-start mb-0">
                                        <div class="card-title">
                                            <h6 class="title">Total Equipe</h6>
                                        </div>
                                        <div class="card-tools">
                                            <em class="card-hint icon ni ni-help-fill" data-toggle="tooltip" data-placement="left" title="Total Utilisateur"></em>
                                        </div>
                                    </div>
                                    <div class="card-amount">
                                        <span class="amount"> {{ DevEquipes |length }} </span>
                                    </div>
                                    <div class="invest-data">
                                        <div class="invest-data-amount g-2">
                                            <div class="invest-data-history">
                                                <div class="title">Actif</div>
                                                <div class="amount">{{numa}}</div>
                                            </div>
                                            <div class="invest-data-history">
                                                <div class="title">Inactif</div>
                                                <div class="amount">{{numi}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .card -->
                        </div><!-- .col -->
                        <div class="col-md-4">
                            <div class="card card-bordered card-full">
                                <div class="card-inner">
                                    <div class="card-title-group align-start mb-0">
                                        <div class="card-title">
                                            <h6 class="title">Total Etat</h6>
                                        </div>
                                        <div class="card-tools">
                                            <em class="card-hint icon ni ni-help-fill" data-toggle="tooltip" data-placement="left" title="Equipe"></em>
                                        </div>
                                    </div>
                                    <div class="card-amount">
                                        <span class="amount"> {{td}} </span>
                                    </div>
                                    <div class="invest-data">
                                        <div class="invest-data-amount g-2">
                                            <div class="invest-data-history">
                                                <div class="title">Enregistre</div>
                                                <div class="amount">{{ty[0]}}</div>
                                            </div>
                                            <div class="invest-data-history">
                                                <div class="title">En traitement</div>
                                                <div class="amount">{{ty[1]}}</div>
                                            </div>
                                            <div class="invest-data-history">
                                                <div class="title">Termine</div>
                                                <div class="amount">{{ty[2]}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .card -->
                        </div><!-- .col -->
                        <div class="col-md-4">
                            <div class="card card-bordered card-full">
                                <div class="card-inner">
                                    <div class="card-title-group align-start mb-0">
                                        <div class="card-title">
                                            <h6 class="title">Total Taches</h6>
                                        </div>
                                        <div class="card-tools">
                                            <em class="card-hint icon ni ni-help-fill" data-toggle="tooltip" data-placement="left" title="Equipe"></em>
                                        </div>
                                    </div>
                                    <div class="card-amount">
                                        <span class="amount"> {{ q[0] + q[1] }} </span>
                                    </div>
                                    <div class="invest-data">
                                        <div class="invest-data-amount g-2">
                                            <div class="invest-data-history">
                                                <div class="title">En Cours</div>
                                                <div class="amount">{{q[0]}}</div>
                                            </div>
                                            <div class="invest-data-history">
                                                <div class="title">Termine</div>
                                                <div class="amount">{{q[1]}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .card -->
                        </div><!-- .col -->
                        <div class="col-md-6">
                            <div class="card card-bordered card-full">
                                <div class="card-inner">
                                    <div class="card-title-group align-start mb-0">
                                        <div class="card-title">
                                            <h6 class="title">Total Projets</h6>
                                        </div>
                                        <div class="card-tools">
                                            <em class="card-hint icon ni ni-help-fill" data-toggle="tooltip" data-placement="left" title="Equipe"></em>
                                        </div>
                                    </div>
                                    <div class="card-amount">
                                        <span class="amount"> {{projets}} </span>
                                    </div>
                                    <div class="invest-data">
                                        <div class="invest-data-amount g-2">
                                            <div class="invest-data-history">
                                                <div class="title">Soumis</div>
                                                <div class="amount">{{psea[0]}}</div>
                                            </div>
                                            <div class="invest-data-history">
                                                <div class="title">En Cours</div>
                                                <div class="amount">{{psea[1]}}</div>
                                            </div>
                                            <div class="invest-data-history">
                                                <div class="title">Termine</div>
                                                <div class="amount">{{psea[2]}}</div>
                                            </div>
                                        </div>
                                        <div class="analytic-au-ck">
                                            <canvas class="analytics-au-chart" id="analyticAuData"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .card -->
                        </div><!-- .col -->
                        
                        <div class="col-md-6 col-xxl-6">
                            <div class="card card-bordered h-100">
                                <div class="card-inner">
                                    <div class="card-title-group">
                                        <div class="card-title">
                                            <h6 class="title"><span class="mr-2">Taches Récentes</span></h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-inner p-0 border-top">
                                    <div class="nk-tb-list nk-tb-orders">
                                        <div class="nk-tb-item nk-tb-head">
                                            <div class="nk-tb-col tb-col-sm"><span>Nom Tache</span></div>
                                            <div class="nk-tb-col tb-col-md"><span>Statut</span></div>
                                        </div>
                                        {% for pers in y %}
                                        <div class="nk-tb-item">
                                            <div class="nk-tb-col tb-col-sm">
                                                <div class="user-card">
                                                    <div class="user-name">
                                                        <span class="tb-lead">{{pers.nomTache}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="nk-tb-col">
                                                {% if pers.statut == 'En Attente' %}
                                                <span class="badge badge-dot badge-dot-xs badge-primary">{{pers.statut}}</span>
                                                {% elseif pers.statut == 'En Cours' %}
                                                <span class="badge badge-dot badge-dot-xs badge-secondary">{{pers.statut}}</span>
                                                {% elseif pers.statut == 'termine' %}
                                                <span class="badge badge-dot badge-dot-xs badge-success">{{pers.statut}}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="card-inner-sm border-top text-center d-sm-none">
                                    <a href="#" class="btn btn-link btn-block">See History</a>
                                </div>
                            </div><!-- .card -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .nk-block -->
            </div>
        </div>
    </div>
</div>

{% endblock %}