{% extends "layouts/dashboard.njk" %}


{% block page_action %}
<div class="nk-block-head nk-block-head-sm">
                                    <div class="nk-block-between">
                                        <div class="nk-block-head-content">
                                            <h3 class="nk-block-title page-title">Differentes Tâche du projet {{ projet.nomProjet }}.</h3>
                                            <!-- <div class="nk-block-des text-soft">
                                                <p>Vous avez {{ projects| length}} projets..</p>
                                            </div> -->
                                        </div><!-- .nk-block-head-content -->
                                        <div class="nk-block-head-content">
                                            <a onclick="history.back()" class="btn btn-outline-light bg-white d-none d-sm-inline-flex"><em class="icon ni ni-arrow-left"></em><span>Back</span></a>
                                            <a href="#" class="btn btn-icon btn-outline-light bg-white d-inline-flex d-sm-none"><em class="icon ni ni-arrow-left"></em></a>
                                        </div>
                                    </div><!-- .nk-block-between -->
                                    
                                    
 </div><!-- .nk-block-head -->
{% endblock %}

{% block content %}

                    <div class="card card-preview">
                        <div class="card-inner">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">Nom Tache</th>
                                        <th scope="col">Developpeur</th>
                                        <th scope="col">Statut</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for task in Tasks%}
                                    <tr>
                                        <th scope="row">{{task.nomTache}}</th>
                                        <td>{{task.id.name}}, {{task.id.telephone}}</td>
                                        {% if task.statut in 'En Cours' %}
                                        <td><p class="badge bg-warning">{{task.statut}}</p></td>
                                        {% elseif task.statut in 'En Attente' %}
                                        <td><p class="badge bg-danger">{{task.statut}}</p></td>
                                        {% elseif task.statut in 'termine' %}
                                        <td><p class="badge bg-success">{{task.statut}}</p></td>
                                        {% endif %}
                                        <td><center><a href="/dash/taski/{{task.idTache}}/{{user.uuid}}"  class="btn btn-dim btn-secondary"><span>Visualiser</span></a></center></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
</div>

{% endblock %}