{% extends "layouts/dashboard.njk" %}

{% block page_action %}
<div class="nk-block-head nk-block-head-sm">
    <div class="nk-block-between">
        <div class="nk-block-head-content">
            <h3 class="nk-block-title page-title">Remplir Etat d'avancement: <strong class="text-primary big"> {{Task.nomTache}}.</strong></h3>
        </div><!-- .nk-block-head-content -->
        <div class="nk-block-head-content">
            <div class="nk-block-head-content">
                
            </div><!-- .nk-block-head-content -->
        </div>
        <div class="nk-block-head-content">
            <a onclick="history.back()" class="btn btn-outline-light bg-white d-none d-sm-inline-flex"><em class="icon ni ni-arrow-left"></em><span>Back</span></a>
            <a href="#" class="btn btn-icon btn-outline-light bg-white d-inline-flex d-sm-none"><em class="icon ni ni-arrow-left"></em></a>
        </div>
    </div><!-- .nk-block-between -->
</div><!-- .nk-block-head -->

{% endblock %}


{% block content %}

<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="components-preview wide-md mx-auto">
                    <div class="nk-block nk-block-lg">
                        <div class="nk-block-head">
                            <div class="nk-block-head-content">
                                <h4 class="title nk-block-title">Veuillez entrer les détail de votre travail</h4>
                                <div class="nk-block-des">
                                    <p>En dessous de ce formulaire, vous verrez un Etat à <code class="code-class">Soumettre</code> au chef de projet. Cette tâche expire le {{Task.dateFin}}.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card card-bordered">
                            <div class="card-inner">
                                <form id="form4" method="post" data-page="/dash/Etat/{{Task.idTache}}/{{user.uuid}}" action="/dash/avancement" class="form-validate">
                                    <div class="row g-gs">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label" for="fv-subject">Date</label>
                                                <div class="form-control-wrap"> 
                                                    <input type="date" class="form-control" id="fv-subject" name="date">
                                                    <input type="text" class="form-control" value="{{Task.idTache}}" hidden readonly id="fv-subject" name="idTache">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label" for="default-06">Ajouter une piece jointe</label>
                                                <div class="form-control-wrap">
                                                    <div class="custom-file">
                                                        <input type="file" name="fichier" multiple class="custom-file-input" id="customFile">
                                                        <label class="custom-file-label" for="customFile">Ajouter une piece jointe</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="form-label" for="fv-message">Travail Fait</label>
                                                <div class="form-control-wrap">
                                                    <textarea class="form-control form-control-sm" id="fv-message" name="travailFait" placeholder="Votre commentaire"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="form-label" for="fv-message">Des difficultés ? Si oui, Dites nous en plus !</label>
                                                <div class="form-control-wrap">
                                                    <textarea class="form-control form-control-sm" id="fv-message" name="difficulte" placeholder="Votre commentaire"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="form-label" for="fv-message">Des besoins ? Si oui, Dites nous en plus !</label>
                                                <div class="form-control-wrap">
                                                    <textarea class="form-control form-control-sm" id="fv-message" name="besoin" placeholder="Votre Commentaire"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                                                <li>
                                                            <button type="submit" id="form4_button" class="btn btn-primary">
                                                                    <span style="display: none" id="form4_loader" class="spinner-border  spinner-border-sm" role="status" aria-hidden="true"></span>
                                                                    <span id="form4_submit" >Enregistrer</span>
                                                                </button> 
                                                     </li>
                                            </ul>
                                                    
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div><!-- .nk-block -->
                </div>
            </div>
        </div>
    </div>
</div>


        <div class="invoice-wrap">
            <div class="invoice-brand text-center">
                <h3 class="nk-block-title page-title">Recapitulatif des travaux</h3><br>
            </div>
            <div class="invoice-head">
                <div class="invoice-desc">
                    <div class="invoice-contact-info">
                        <ul class="list-plain">
                            <li><span class="bg-warning"> </span></li>
                        </ul>
                    </div>
                </div>
                <div class="invoice-contact">
                    <span class="overline-title">Realisé par</span>
                    <div class="invoice-contact-info">
                        <h4 class="title">Mr {{user.name}}</h4>
                    </div>
                </div>
            </div><!-- .invoice-head -->
            <div class="nk-block nk-block-lg">
                <div class="card card-bordered card-preview">
                    <table class="table table-orders">
                        <thead class="tb-odr-head">
                            <tr>
                                <th  class="w-10">Date Exécution</th>
                                <th class="w-30">Activités faites</th>
                                <th class="w-15">Besoins</th>
                                <th  class="w-15">Difficultés</th>
                                <th>Pièces Jointes</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="tb-odr-body">
                            {% for task in DetailTache %}
                            {% if task.statut in 'En Attente' %}
                            <tr>
                                <td>{{task.date}}</td>
                                <td>{{task.travailFait}}</td>
                                <td>{{task.besoin}}</td>
                                <td>{{task.difficulte}}</td>
                                <td>&nbsp &nbsp &nbsp &nbsp &nbsp   
                                    <a href="#">
                                        <i class="bi bi-download">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                                            </svg>
                                        </i>
                                    </a>
                                </td>
                                    
                                    <td>
                                        <a href="#">
                                            <i class="bi bi-pencil-square">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                                </svg>
                                            </i>
                                        </a>&nbsp &nbsp &nbsp 
                                        <a href="#">
                                            <i class="bi bi-trash3">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                                </svg>
                                            </i>
                                        </a> 
                                        <!-- <div class="tb-odr-btns d-none d-md-inline">
                                            <a href="/dash/updatedetail/{{task.idTacheDetail}}/termine/{{user.uuid}}" class="btn btn-sm btn-success {{ 'disabled' if task.statut in 'termine' }} ">Valider</a><br><br>
                                            <a href="#" class="btn btn-sm btn-danger">Rejetter</a>
                                        </div> -->
                                    </td>
                                    
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div><!-- .card-preview -->
            </div><!-- nk-block --><br><br>
            <a href="/dash/updatedetail/{{Task.idTache}}/En Cours/{{user.uuid}}" class="btn btn-xl btn-primary">Soumettre</a>
        </div>

{% endblock %}